body {
  background-color: rgb(64, 64, 64);
 
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper{
  
  font-size: 30px;
}
.head1{
  text-align: left;
  text-decoration-color: cornsilk;
    
}

center{
  font-style:  bold;
  text-decoration-color: white;
}
 
.headerContent{
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  font-style: bold;
}

.headerintro{
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-areas: "headertext video";
}
.headertext{
  grid-area: headertext;
  display: inline-grid;
}

.brand-logo{
  margin-top: 20px;
}
.contentContainer{
  display: grid;
  padding-bottom: 10px;
  grid-area: contentContainer;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-areas: "headertext video";
}
.video{
  display: inline-grid;
  grid-area: video;
  padding-left: 100px;
 
}
.right{
  font-size: 60px;
}

h7{
  text-align: inherit;
}
iframe{
  border-radius: 0pc;
}